{% extends 'meterAssets/base.html' %}

{% block content %}
  {% if meters %}
  <div class="meters">
    <table class="table table-hover" id="meter_list">
        <thead>
        <tr>
            <th scope="col">Serial</th>
            <th scope="col">Creation Date</th>
        </tr>
        </thead>
      <tbody>
      {% for meter in meters %}
        <tr>
            <td>{{ meter.badge_number }}</td>
            <td>{{ meter.created_date }}</td>
        </tr>   
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
{% endblock %}
    