{% load staticfiles %}
<html>
    <head>
        <title>Meter Tracking System</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/mts/">MPS 2.0</a></h1>
        </div>
        {% if meters %}
            <div class="meters">
                <table id="meter_list">
                <thead>
                <tr>
                    <th><div><span>Serial</span></div></th>
                    <th><div><span>Creation Date</span><div></th>
                </tr>
                </thead>
                <tbody>
                {% for meter in meters %}
                    <tr>
                        <td colspan="{{ meter.badge_number|length }}">{{ meter.badge_number }}</td>
                        <td colspan="{{ meter.created_date|length }}">{{ meter.created_date }}</td>
                    </tr>   
                {% endfor %}
                </tbody>
                </table>
            </div>
        {% endif %}
    </body>
</html>
