{% load staticfiles %}
<!--<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">MTS</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Proof Data <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Group Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Settings</a>
        </li>
        </ul>
    </div>
    </nav>
</div>-->

<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#">
    <img src="{% static 'favicon.ico' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    MTS
  </a>
</nav>

<div class="container nav-pad">
<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Proof Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Group Management</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Reports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Settings</a>
  </li>
</ul>
</div>